.loadingBar
{
    background-color: white;
    position: fixed;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
}

.loadingBarText
{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 300px;
    font-size: 50px;
    font-weight: bold;
    color: #5577ff;
    text-align: center;

    -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {color: #5577ff;}
    20%  {color: #425dc8;}
    50%  {color: #172346;}
    80%  {color: #425dc8;}
    100% {color: #5577ff;}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {color: #5577ff;}
    20%  {color: #425dc8;}
    50%  {color: #172346;}
    80%  {color: #425dc8;}
    100% {color: #5577ff;}
}


body
{
    position: relative;
    background-color: white;
    font-family:'Lato', sans-serif;
    color: #585858;
    font-size: 14px;
}

.navbar.app{
    background: transparent;
    border: none;
    box-shadow: none;
}

.navbar.app.navbar-default .navbar-nav>li>a{
    font-size: 20px;
    color: white;
    transition:400ms ease all;
}

.navbar.app.navbar-default .navbar-nav>li>a:hover{
    font-size: 20px;
    color: black;
}


.jumbotron.app {
    background: rgba(237, 237, 237, 0.3);
    background: -moz-linear-gradient(left, rgba(237, 237, 237, 0.3) 5%, rgba(239, 239, 239, 0.3) 19%, rgba(246, 246, 246, 0.52) 56%, rgba(255, 255, 255, 0.63) 75%, rgba(255, 255, 255, 0.78) 100%);
    background: -webkit-gradient(left top, right top, color-stop(5%, rgba(237, 237, 237, 0.3)), color-stop(19%, rgba(239, 239, 239, 0.3)), color-stop(56%, rgba(246, 246, 246, 0.52)), color-stop(75%, rgba(255, 255, 255, 0.63)), color-stop(100%, rgba(255, 255, 255, 0.78)));
    background: -webkit-linear-gradient(left, rgba(237, 237, 237, 0.3) 5%, rgba(239, 239, 239, 0.3) 19%, rgba(246, 246, 246, 0.52) 56%, rgba(255, 255, 255, 0.63) 75%, rgba(255, 255, 255, 0.78) 100%);
    background: -o-linear-gradient(left, rgba(237, 237, 237, 0.3) 5%, rgba(239, 239, 239, 0.3) 19%, rgba(246, 246, 246, 0.52) 56%, rgba(255, 255, 255, 0.63) 75%, rgba(255, 255, 255, 0.78) 100%);
    background: -ms-linear-gradient(left, rgba(237, 237, 237, 0.3) 5%, rgba(239, 239, 239, 0.3) 19%, rgba(246, 246, 246, 0.52) 56%, rgba(255, 255, 255, 0.63) 75%, rgba(255, 255, 255, 0.78) 100%);
    background: linear-gradient(to right, rgba(237, 237, 237, 0.3) 5%, rgba(239, 239, 239, 0.3) 19%, rgba(246, 246, 246, 0.52) 56%, rgba(255, 255, 255, 0.63) 75%, rgba(255, 255, 255, 0.78) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=1);
}

button.find-rides{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button.find-rides:hover{
    background:#fff;
    color:#1AAB8A;
}
button.find-rides .fa-location-arrow{
    transition:800ms ease all;
}
button.find-rides:hover .fa-location-arrow{
    transform: rotate(45deg);
}
button.find-rides:before,button.find-rides:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
button.find-rides:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button.find-rides:hover:before,button.find-rides:hover:after{
    width:100%;
    transition:800ms ease all;
}

.item-box{

    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.85)), color-stop(51%, rgba(209,209,209,0.85)), color-stop(100%, rgba(254,254,254,0.7)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

    border-bottom: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}


.circle-box-grand-parent{
    position: relative;
    width: 100%;
    height: 20px;
}

.circle-box-parent{
    text-align: center;
    position: absolute;
    width: 100%;
    top:-120px;
}

.cricle-box{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: auto 0;

    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,0.85)), color-stop(51%, rgba(209,209,209,0.85)), color-stop(100%, rgba(254,254,254,0.7)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,0.85) 50%, rgba(209,209,209,0.85) 51%, rgba(254,254,254,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );

}